parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path:     ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    oauth_client_id:     ~
    oauth_client_secret: ~
    oauth_client_server: ~

    wiki_secretcode:     ~
    wiki_target:         ~
    wiki_group:          ~

    rollbar_access_token: ~
