{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ icon('user') }} Profile</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Name</dt><dd>{{ user.realname }}</dd>
                    <dt>Wiki name</dt><dd>
                        {% if user.wikiName == null %}
                            <a href="{{ url('user_wikiname') }}">Set wiki name</a>
                        {% else %}
                            {{ user.wikiName }}
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}